.cell-light {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  font-weight: 600;
  position: absolute;
  border-color: black;
  border-style: solid;
  background-color: #f6f6f6ff;
  animation: zoomIn 0.3s linear;
  animation-fill-mode: both;
}

.cell-dark {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  font-weight: 600;
  position: absolute;
  border-color: #646464;
  border-style: solid;
  background-color: #373737;
  animation: zoomIn 0.3s linear;
  animation-fill-mode: both;
}

.cell-light:hover {
  background-color: #2fcc71ff !important;
}

.draftNumber-light {
  position: absolute;
  text-align: center;
  color: black;
  top: 0;
  left: 0;
  width: 30%;
  height: 30%;
}

.draftNumber-dark {
  position: absolute;
  text-align: center;
  color: #fff;
  top: 0;
  left: 0;
  width: 30%;
  height: 30%;
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(10%);
  }
  100% {
    opacity: 1;
    transform: scale(100%);
  }
}
