.gameBoard {
  position: relative;
  background-color: red;
  margin: 0 auto;
}

.cell {
  position: absolute;
  font-size: 20px;
  border-color: black;
  border-style: solid;
  text-align: center;
}

.cell:hover {
  background-color: aqua;
}
