.menuContainer-light {
  height: 100%;
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
  background-color: #F2F2F2;
}

.menuContainer-dark {
  height: 100%;
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
  background-color: #282c34;
}

.heading {
  color: #fff;
}

.subHeading {
  margin: 0;
  color: #cacaca;
}
