.keyPad {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.buttonRow {
  display: flex;
  justify-content: center;
}

.keyRow {
  display: flex;
  justify-content: space-between;
}

.button,
.numKey,
.buttonDisabled {
  user-select: none;
  background: none;
  color: var(--numpadKeyColor);
  border: 2px solid var(--numpadkeyBorderColor);
}

/* .button:hover,
.numKey:hover {
  border-color: #13c45fff;
} */

.button:active,
.numKey:active {
  background-color: var(--numpadkeyActiveBackgroundColor);
  color: var(--numpadKeyActiveColor);
  border-color: var(--numpadkeyActiveBorderColor);
}

.buttonSelected {
  border-color: var(--numpadkeySelectedBorderColor);
  background-color: var(--numpadkeyActiveBorderColor);
  color: var(--numpadKeySelectedColor);
}

.buttonDisabled {
  color: var(--numpadkeyDisabledColor);
  border-color: var(--numpadkeyDisabledBorderColor);
}

.numKey {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.numbersRemaining {
  position: absolute;
}
