.keyPad {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 0;
  width: 588px;
  margin: 0 auto;
}

.buttonRow {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.keyRow {
  display: flex;
  justify-content: space-between;
}

.button {
  background-color: blue;
  font-size: 40px;
  line-height: 40px;
  border-radius: 15px;
  padding: 10px;
}

.numKey {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 80px;
  font-size: 40px;
  font-weight: 700;
  background-color: blue;
  border-radius: 15px;
}

.numKey:hover {
  background-color: aqua;
}
